body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight:300;
  }
.container{
  background-color: #C5EDFF;
  width:30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 5px 5px 8px 5px #888888;
}

h5{
  text-align:left;
}

form{
  background-color: #C5EDFF;
  width:30%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 8px 5px #888888;
}

header{
  background-color:#C5EDFF;
  box-shadow: 5px 5px 8px 5px #888888;
  width:30%;
  margin-left:auto;
  margin-right:auto;  
}

section
  {
    background-color: #C5EDFF;
    margin-top: 60px;
    box-shadow: 5px 5px 8px 5px #888888;
    width:30%;
    margin-left:auto;
    margin-right:auto;

    
  }

  